.comment {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

}

.comment img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.comment-author {
    align-self: center;
}

.comment-content{
    position: relative;
    align-self: flex-start;
}

.comment-likes {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    opacity: 0.6;
}

p, span {
    margin: 0;
    padding: 0;
}