/* ChatMessages.module.css */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    position: relative; /* Ensure the container is the positioning context */
    padding: 0.5rem;
  }
  
  .header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
  }
  
  .messageList {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Anchor messages to the bottom */
    justify-content: left;
    margin-bottom: 61px; /* Space for the chat input */
    overflow-y: auto;
  }
  
  .messageItem {
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    width: auto;
  }
  
  .messageItem p {
    margin: 0;
  }
  
  .messageItem .username {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .messageItem .timestamp {
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
  }
  
  .messageItem.sent {
    align-self: flex-end;
    background-color: #cce5ff; /* Light blue for sent messages */
  }
  
  .messageItem.received {
    align-self: flex-start;
    background-color: #e2e3e5; /* Lighter blue for received messages */
  }
  
  .chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    left: 10px; /* Adjust for container padding */
    right: 10px; /* Adjust for container padding */
    padding: 10px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
  }
  
  .chat-input input {
    flex-grow: 4;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-right: 10px;
  }
  
  .chat-input button {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }