
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.buttons button {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0;
    font-size: 1.2rem;
    cursor: pointer;
    width: 80%;
    bottom: 10%;
}

.buttons {
    position: absolute;
    bottom: 10%;
    width: 80%;
}

.dashboard {
    height: 100%;
    width: 100%;
    display: flex;
}

.chat-nav {
    overflow-y: auto; /* Allow scrolling only on overflow */
    height: 100%; /* Adjust the height to fit within the screen, leaving space for other elements */
    padding: 2rem 2rem 2rem 0;
    width: 100%;
    max-width: calc(250px + 4rem);
}

.chat {
    width: 100%;
}